# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.clean-the-world-main.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\Unity Works\clean-the-world-main\.idea\.idea.clean-the-world-main\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
